/*first setting*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/*surfing*/

.surf{
    position: fixed;
    top: 5%;
    right: 30px;
    transform: translateX(-50%);
    z-index: 1;
}

.surf ul{
    list-style: none;
}

.surf ul li a{
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    background: white;
    color: black;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 800;
}

.surf ul li {
    margin: 15px 0;;
}
    
/*screen-section*/

.screen-section-1  {
    height: 100vh;
    background: red;
    position: relative;
}

.screen-section-2{
    height: 100vh;
    background: green;
    position: relative;
}

.screen-section-3{
    height: 100vh;
    background: yellow;
    position: relative;
}

.screen-section-1 .box-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screen-section-2 .box-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screen-section-3 .box-3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screen-section-3 .shoes-capture{
    color: green;
}

h1{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
}

.shoes-capture{
    color: yellow;
}
